doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Verify Email
    style.
      body {
        background-color: #EDF2F7; /* Background color */
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .card {
        background-color: #FFFFFF; /* Card color */
        border-radius: 8px;
        padding: 20px;
        padding-top: 0px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 90%;
        max-width: 600px;
      }
      h1 {
        color: #333; /* Header text color */
        font-size: 24px; /* Use font-size instead of text-size */
      }
      p {
        color: #555; /* Paragraph text color */
        font-size: 16px; /* Use font-size instead of text-size */
      }
      a {
        background-color: #2D3748; /* Button background color */
        border-radius: 4px;
        color: #FFFFFF; /* Button text color */
        display: inline-block;
        margin: 5px 0;
        padding: 10px 20px;
        text-decoration: none;
      }
      a:visited {
        color: #FFFFFF; /* Change the visited link color if needed */
      }
      a[href] {
        color: #FFFFFF; /* Button text color */
      }
  body
    table(width="100%" cellpadding="0" cellspacing="0")
      tr
        td(align="center" valign="top")
          h1 #{appName}
          .card
            h1 Verify your email address
            p
              | Thank you for signing up 
              span(style="text-decoration: underline;") #{username}.
            p To complete your registration, please verify your email address by clicking the link below:
            a(href=verificationLink) Verify Email
            p If you did not create an account, you can safely ignore this email.
            p Best regards, <br> The team at #{appName}
